<!doctype html>
<html>
<head>
    
    <title >Museum of Everything</title>
    <link rel='stylesheet' href='styles/reset.css'>
    <link rel='stylesheet' href='styles/main.css'>
    <link href='https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911' rel='stylesheet' type='text/css'>
  
    
</head>


<body>

	<div class="block header header--pages">
		<a href="index.html">
			<div class= "header__logo header__logo--pages">
			The Museum of Everything
			</div>
		</a>
	</div>



	<div class="block box--pages--large clearfix js-item-modal">


		<div class="box--pages--large__text">
			Explore the Collection
		</div>


		<div class="button-group filter-button-group">

			<button class="filter-button" data-filter="*">
				show all</button>
			<button class="filter-button" data-filter=".flora">
				flora</button>
			<button class="filter-button" data-filter=".fauna">
				fauna</button>
			<button class="filter-button" data-filter=".ephemera">
				ephemera</button>
			<button class="filter-button" data-filter=".indoors">
				indoors</button>
			<button class="filter-button" data-filter=".outdoors">
				outdoors</button>
			<button class="filter-button" data-filter=".art">
				art</button>

		</div>


		<div class="button-group filter-button-group">

			<button class="filter-button color-button color--light-faun" data-filter=".light-faun"></button>
			<button class="filter-button color-button color--sonic-silver" data-filter=".sonic-silver"></button>
			<button class="filter-button color-button color--bluey-sonicsilver" data-filter=".bluey-sonicsilver"></button>
			<button class="filter-button color-button color--cool-stone" data-filter=".cool-stone"></button>
			<button class="filter-button color-button color--warm-stone" data-filter=".warm-stone"></button>
			<button class="filter-button color-button color--warm-faun" data-filter=".warm-faun"></button>
			<button class="filter-button color-button color--peaty-tan" data-filter=".peaty-tan"></button>
			<button class="filter-button color-button color--warm-seagreen" data-filter=".warm-seagreen"></button>
			<button class="filter-button color-button color--sea-green" data-filter=".sea-green"></button>
			<button class="filter-button color-button color--plant-green" data-filter=".plant-green"></button>
			<button class="filter-button color-button color--outer-space" data-filter=".outer-space"></button>
			<button class="filter-button color-button color--almost-black" data-filter=".almost-black"></button>
			<button class="filter-button color-button color--really-almost-black" data-filter=".really-almost-black"></button>
			<button class="filter-button color-button color--good-brick" data-filter=".good-brick"></button>
			<button class="filter-button color-button color--fire-brick" data-filter=".fire-brick"></button>
			<button class="filter-button color-button color--goldenrod" data-filter=".goldenrod"></button>
			<button class="filter-button color-button color--raw-umber" data-filter=".raw-umber"></button>
			<button class="filter-button color-button color--sepia" data-filter=".sepia"></button>
			
			
		</div>

		
		<div class="grid">
		</div>

	

			<script type="template" id="element-item-template--small">
				<div class="element-item <%= provenance %> <%= medium %>">
				<div class="js-item-modal-click">
					<div class="element-item__image"><img src='<%=image %>'></div>
					<div class="element-item__text element-item__text__title"><%= title %></div>
					<div class="element-item__text">CREATOR: <%= creator %></div>
					<div class="element-item__text">DEPT: <%= department %></div>
					<div class="element-item__text">PERIOD: <%= period %></div>
					<div class="element-item__text"><%= creditline %></div>
					<div class="element-item__text"><%= accession_number %></div>
				</div>
				</div>
			</script>


		  <!-- 	<div class=" element-item fauna outdoors">
		  	<a href="item_template.html">
			  	<img class="element-item__image" src="objects/004.jpg">
			    <div class="element-item__text title">TITLE: toad</div>
			    <div class="element-item__text creator">CREATOR: god</div>
			    <div class="element-item__text department">DEPARTMENT: Amphibians, small</div>
			    <div class="element-item__text weight">200.59.004</div>
			</a>
		  	</div>

			<div class="element-item fauna indoors outdoors ephemera">
			  	<img class="element-item__image" src="objects/001.jpg">
			    <h3 class="title">TITLE: moth</h3>
			    <p class="creator">CREATOR: god</p>
			    <p class="department">DEPARTMENT: Lepedoptera</p>
			    <p class="weight">200.59</p>
		 	</div>

			 <div class="element-item ephemera indoors outdoors">
			  	<img class="element-item__image" src="objects/005.jpg">
			    <h3 class="title">TITLE: waterdroplets on glass on brick</h3>
			    <p class="creator">CREATOR: god</p>
			    <p class="department">DEPARTMENT: Ephemera</p>
			    <p class="weight">200.59</p>
			 </div>

			 <div class="element-item fauna indoors ephemera">
			  	<img class="element-item__image" src="objects/009.jpg">
			    <h3 class="title">TITLE: sunlight in window with boy</h3>
			    <p class="creator">CREATOR: god</p>
			    <p class="department">DEPARTMENT: Ephemera</p>
			    <p class="weight">200.59</p>
			 </div>

			<div class="element-item indoors outdoors ephemera art">
			  	<img class="element-item__image" src="objects/010.jpg">
			    <h3 class="title">TITLE: house, soon to be toen down</h3>
			    <p class="creator">CREATOR: man</p>
			    <p class="department">DEPARTMENT: Architecture</p>
			    <p class="weight">200.59</p>
		  	</div>

			  <div class="element-item fauna indoors art">
			  	<img class="element-item__image" src="objects/011.jpg">
			    <h3 class="title">TITLE: caterpillar in print</h3>
			    <p class="creator">CREATOR: man</p>
			    <p class="department">Lepedoptera, Works on Paper</p>
			    <p class="weight">200.59</p>
			  </div> -->
			


			
	</div>



		<div class="block box box--visit
		box--pages--small">
			<a href="visit.html" 
			class="box__text">
				Visit the Museum
			</a>
		</div>


		<div class="block box box--about
		box--pages--small">
			<a href="about.html" 
			class="box__text">
				About the Museum
			</a>
		</div>	


		<div class="block footer">
			<div class="footer__copyright">
				Copyright? Probably not.
			</div>
		</div>


	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="js/underscore.js"></script>
	<script src="js/isotope.js"></script>
	<script src="js/main.js"></script>
	

 
</body>

</html>