html {
	font-size: 10px;
	font-family: 'Goudy Bookletter 1911', serif;
}
.block {
	max-width: 60rem;
	margin: 0 auto;
	box-sizing: border-box;
	border: 1px solid black;
}
.header {
	padding: 12rem 1rem 1rem 1rem;
	background-color: white;
}
.header__logo {
	font-size: 3.5rem;
	color: #151515;
	text-align: center;
}
.box {
	padding: 10rem 5rem 1rem 1rem;
	background-size: cover;
}
.box__text {
	font-size: 2rem;
	font-outline: 1px solid black;
	color: #f4f3f1;
	display: block;
	text-shadow: 1px 1px #414a4c;
}
a {
	font-size: 2rem;
	color: #f4f3f1;
	text-decoration: none;
	display: block;
}
.box--visit {
	background-image: url("../objects/001.jpg");
}
.box--collection {
	background-image: url("../objects/002.jpg");
}
.box--about {
	background-image: url("../objects/003.jpg");
}
.footer {
	padding: 1rem 5rem 1rem 1rem;
	background-color: #151515;
}
.footer__copyright {
	font-size: 1rem;
	color: #e5e3df;
}

/*PAGES STYLES */
.box--pages--small {
	padding: 5rem 1rem 1rem 5rem;
	text-align: right;
}
.box--pages--large {
	padding: 5rem 5rem 5rem 1rem;
}

/*ITEM PAGES*/
.item {
	max-width: 40rem;
	margin: 0 auto;
	padding: 2rem;
	box-sizing: border-box;
	border: none;
}
.item__image {
	height: 40rem;
	max-width: 40rem;
	border: 1rem solid #e5e3df;
	background-size: cover;
	background-position: center;
}
.item__text {
	font-size: 2rem;
	color: #76786a;
	margin-top: 2rem;
}
.item__image--004 {
	background-image: url("../objects/004.jpg");
}
	



