html {
	font-size: 10px;
	font-family: 'Goudy Bookletter 1911', serif;
}
.block {
	max-width: 60rem;
	margin: 0 auto;
	box-sizing: border-box;
	border: 1px solid black;
}
.header {
	padding: 12rem 1rem 1rem 1rem;
	background-color: white;
}
.header__logo {
	font-size: 4rem;
	color: #151515;
	text-align: center;
}
.box {
	padding: 10rem 1rem 1rem 1rem;
	background-size: cover;
}
.box__text {
	font-size: 2.7rem;
	color: #151515;
	background-color: rgba(240, 239, 237, 0.75);
	display: inline-block;
}
a {
	text-decoration: none;
}

.box--visit {
	background-image: url("../objects/001.jpg");
}
.box--collection {
	background-image: url("../objects/002.jpg");
}
.box--about {
	background-image: url("../objects/003.jpg");
}

.footer {
	padding: 1rem 1rem .5rem 1rem;
	background-color: #151515;
}
.footer__copyright {
	font-size: 1rem;
	color: #e5e3df;
}


/*PAGES STYLES */
.box--pages--small {
	padding: 5rem 1rem 1rem 5rem;
	text-align: right;
}
.box--pages--large {
	padding: 10rem 1.5rem;
	background-color: #151515;
}
.box--pages--large__text {
	font-size: 2.3rem;
	color: #e5e3df;
	display: block;
}



/*COLLECTION PAGE*/

.collection__navigation {
	padding-top: 3rem;
}
.collection__nav {
	font-family: 'Goudy Bookletter 1911', serif;
	font-size: 1.7rem;
	color: #d5d6d2;
	background-color: #0b0c0a;
	border: 1px solid #2f302a;
	border-radius: 2px;
    padding: 4rem;
    margin: 1rem;
    display: inline-block; 
    background-size: cover;
}

.collection--second--color {
	display: none;
}
.collection--second--medium {
	display: none;
}
.collection--second--showing {
	display: block;
}


.color--bdb76b {
	background-color: #bdb76b;
}
.color--eee8aa {
	background-color: #eee8aa;
}
.color--f5f5dc {
	background-color: #f5f5dc;
}


.medium--animal {
	background-image: url("../objects/001.jpg");
	color: #0e1717;
}
.medium--vegetable {
	background-image: url("../objects/003.jpg");
	color: #f2f1ef;
}
.medium--mineral {
	background-image: url("../objects/005.jpg");
	color: #eaeded;
}



	

/*ITEM PAGES*/

.item {
	max-width: 40rem;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 2rem;
	border: 1px solid #c8c9c3;
}
.item__text {
	font-size: 2rem;
	color: #76786a;
}
.item__image {
	height: 40rem;
	max-width: 40rem;
	border: 1rem solid #e5e3df;
	size: cover;
	position: center;
	box-sizing: border-box;
}
img {
	width: 100%;
	height: 100%;
}



/*ABOUT PAGE*/
.box--pages--about {
	max-width: 40rem;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 2rem;
	border: 1px solid #2f302a;
}
.about__image {
	height: 40rem;
	max-width: 40rem;
	border: 1rem solid #171815;
	size: cover;
	position: center;
	box-sizing: border-box;
}
.box--pages--about__text {
	font-size: 2rem;
	color: #d5d6d2;
	text-align: justify;
	padding-top: 2rem;
	max-width: 38rem;
	margin: 0 auto;
}

